@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//cdn.jsdelivr.net/gh/verlopert/font-d2coding@1.2.1/d2coding.css');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smmothing: grayscale;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}